* {
  margin: 0;
  padding: 0;
  border: solid 1px;
  box-sizing: border-box;
  border: 0px none;
}

body {
  background-image: url("img/fukumoto.png");
  background-size: 35%;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  border: 0px none;
}

.contents-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  height: 80%;
  border: 0px none;
}

.heading {
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  border: 0px none;
  color: aqua;
}

.contents-wrapper-inner {
  display: flex;
  width: 880px;
  margin: 0 auto;
}

.content-left {
  width: 500px;
  border: 10px none;
  margin-left: -100px;
  align-self: left;
}

.face-photo {
  width: 430x;
  /*height: 400px;*/
  margin-bottom: 20px;
  border: 0px none;
  align-self: left;
}

.profile {
  margin-bottom: 40px;
  margin-left: 20px;
  border: 0px none;
  text-align: center;
  font-weight: 600;
  font-size: x-large;
  font-family: sans-serif;
}

.content-right {
  position: right;
  width: 1000px;
  align-self: right;
  border: 0px none;
  margin-left: 20px;
  font-weight: 600;
  font-size: large;
  font-family: sans-serif;
}

.content-center {
  width: 200px;
}

.intro {
  font-size: 28px;
}

.vrtour {
  text-align: center;
  border: 0px none;
}

.welcome {
  font-size: 20px;
  font-style: normal;
  font-family: "sans-serif";
  margin: auto;
  width: 1000px;
  padding: 20px;
  margin-bottom: 20px;
  border: 3px dashed #333333;
  font-weight: bold;
}